.forminput {
    padding: 10px;
    margin-top: 8px;
}

#regform {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.error-state {
    padding: 12px;
    color: red;
    font-family: monospace;
    font-size: 12px;
}