.calendar {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


div ul{
    height: 100px;
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    overflow-y:scroll;
    border: 1px solid rgb(221, 219, 219); 
    background-color: white;
}


li {
    font: 200 16px Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid rgb(180, 180, 180);
  }


li:last-child {
  border: none;
}


li a {
  text-decoration: none;
  color: #000;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}


li a:hover {
  font-size: 18px;
}